adium-theme-ubuntu==0.3.4
funcsigs==1.0.2
mock==2.0.0
numpy==1.11.1
pbr==1.10.0
Pillow==3.3.0
pkg-resources==0.0.0
protobuf==3.0.0b2
scipy==0.18.0
six==1.10.0
tensorflow==0.10.0rc0
unity-lens-photos==1.0
virtualenv==15.0.1
